.user {
    display: block;
    margin:10px 0;
    padding:10px 50px;
    text-decoration:none;
    position:relative;
    img {
        left:0;
        top: 0;
        position:absolute;
        height:80%;  
    }
    span{
        display:block;
        font-size:0.85em;
    }
    .floorplan & {
        position: absolute;
        border-radius: 50% 50% 0 0;
        $size: 50%;
        width: $size;
        padding:0 0 ($size / 1.2) 0;
        height: 0;
        right: 15%;
        margin:-60% 0 0 0;
        overflow: hidden;
        z-index: 400;
        text-decoration: none;
        
        b,span {
            display: none;
        }
        img {
            border:0;
            height:100%;
            width: 100%;
            transform: translateY((100%));
        }
    }

   
    &.a {
        img {
            transform: translateY(5%);
        }
    }

   
}
