.u {
    display: block;
    margin:10px 0;
    padding:10px 55px;
    text-decoration:none;
    position:relative;
    cursor:pointer;
    i{ 
        position:absolute;
        display:block;
        left:0;
        top: 0;
        img {
            width:50px;
           
            &[data-src]{
                min-height:50px;
                padding-top:11px;
                text-align:center;
                border:0;
                background:rgba(#fff,0.5);
                color:$primary-color;
                border-radius:50%;
            }
        }
    }
    span{
        display:block;
        font-size:0.85em;
    }
    
    &.z {
        i {
            transform: translateY(5%) !important;
        }
    }
}

a{

    border-bottom:2px solid #fff;
    &.a{
        &[data-f="Tester"]{border-bottom-color:$pallette-1 !important;}
        &[data-f="Designer"]{border-bottom-color:$pallette-2 !important;}
        &[data-f="Developer"]{border-bottom-color:$pallette-3 !important;}
        &[data-f="Scrummaster"]{border-bottom-color:$pallette-4 !important;}
    }
}

//
//  Floorplan mode
//
 #fp:checked ~ section .u{
    position: absolute;
    border-radius: 50% 50% 0 0;
    $size: 50%;
    width: $size;
    padding:0 0 ($size / 1.2) 0;
    height: 0;
    right: 15%;
    margin:-60% 0 0 0;
    overflow: hidden;
    z-index: 400;
    text-decoration: none;
    b,span {display: none;}
    i{
        border:0 !important;
        height:100%;
        width: 100%;
        transform: translateY((100%));
        img {
            border:0 !important;
            width:100%;
        }
    }
}

