doctype html
include mixins

html(lang="en/us")  
 head
    title Who is in the room?
    link(href='s.css', rel='stylesheet',type="text/css")
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body(class="list")
    main
        label(for="fp") Toggle floorplan
        input(id="fp" type="checkbox" value="Toggle floorplan" aria-label="Toggle Floorplan mode")
        section
            header
                h1 Who is in the room?
                h2 Main Building - Room 2.10k
            
            input(id="ts" class="cf" type="checkbox" value="Testers" aria-label="Filter Testers")
            label(for="ts") Filter Testers
            input(id="ds" class="cf" type="checkbox" value="Designers" aria-label="Filter Designers")
            label(for="ds") Filter Designers
            input(id="dv" class="cf" type="checkbox" value="Developers" aria-label="Filter Developers")
            label(for="dv") Filter Developers
            input(id="sc" class="cf" type="checkbox" value="Scrummasters" aria-label="Filter Scrumasters")
            label(for="sc") Filter Scrumasters
            ul(class="t-1")
              li
                +user("Jacob Ledger", "Designer", "man-1.svg")
              li
                +user("Paul Vanderbilt", "Developer", "boy-2.svg")
              li
                +user("Jessica Aaron", "Developer", "girl.svg")
              li
                +user("Anna Johnson", "Tester", "girl-1.svg")  
            ul(class="t-2")
              li
                +user("Tom Baker", "Designer", "boy-3.svg")
              li
                +user("Rob Kostermans", "Front-end Developer", "boy-4.svg")
              li
                +user("Joyce Francis", "Scrummaster", "girl-2.svg")
              li
                +user("Francine Smith", "Designer", "girl-3.svg")  
            div(class="prop door")
            div(class="prop window e1")
            div(class="prop window e2")
            div(class="prop plant p1")
            div(class="prop plant p2")
      script(src='s.js')

   